[submodule "Carthage/Checkouts/MASPreferences"]
	path = Carthage/Checkouts/MASPreferences
	url = https://github.com/zats/MASPreferences.git
[submodule "Carthage/Checkouts/MASShortcut"]
	path = Carthage/Checkouts/MASShortcut
	url = https://github.com/shpakovski/MASShortcut.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
