[submodule "Vendor/CocoaMarkdown"]
	path = Vendor/CocoaMarkdown
	url = https://github.com/indragiek/CocoaMarkdown.git
[submodule "Carthage/Checkouts/CocoaMarkdown"]
	path = Carthage/Checkouts/CocoaMarkdown
	url = https://github.com/indragiek/CocoaMarkdown.git
[submodule "Carthage/Checkouts/MASShortcut"]
	path = Carthage/Checkouts/MASShortcut
	url = https://github.com/shpakovski/MASShortcut.git
[submodule "Carthage/Checkouts/MASPreferences"]
	path = Carthage/Checkouts/MASPreferences
	url = https://github.com/zats/MASPreferences.git
