<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        {{style}}
    </style>
    <title>{{title}}</title>
</head>
<body>
<article class="markdown-body">
{{{content}}}
</article>
</body>
</html>